@charset "utf-8";

html, body {
    margin: 0;
    padding: 0;
    background-image: url('./red_clouds.png');
    background-size: cover;
    background-position: center;
}

#heading {
    font-family: "Palatino Linotype", serif;
    font-size: 24px;
    color: #FFFDD0;  /* Cream */
    margin-top: 20px; /* Adjust the value as needed */
    text-align: center;
    background-color: transparent;
}

#heading h2 {
      text-shadow: 
    3px 3px 0 #800000, 
    -3px -3px 0 #800000, 
    3px -3px 0 #800000, 
    -3px 3px 0 #800000, 
    3px 0px 0 #800000, 
    0px 3px 0 #800000,
    -3px 0px 0 #800000,
    0px -3px 0 #800000,
    0 0 10px #800000, 
    0 0 20px #800000, 
    0 0 30px #800000, 
    0 0 40px #800000;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}