@charset "utf-8";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('./red_clouds.png');
    background-size: cover;
    background-position: center;
	background-color: #611024;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    z-index: -1; /* This makes sure the image stays behind your content */
}

body.loaded::before {
  opacity: 1;
}

body {
    margin: 0;
    padding: 0;
}

#scrolling-border {
    position: relative;
    height: 60px;
    width: 100%;
    background-image: url('palm-mini_w.png');
    background-size: auto 60px;
    background-repeat: repeat-x;
    animation: scroll 2.5s linear infinite;
}

@keyframes scroll {
    0% {
        background-position: 0, 0;
    }
    100% {
        background-position: 57px, 0;
    }
}

/* ... rest of your code ... */

#heading {
    font-family: "Palatino Linotype", serif;
    font-size: 24px;
    color: #FFFDD0;  /* Cream */
    margin-top: 16px; /* Adjust the value as needed */
    text-align: center;
    background-color: transparent;
}

#heading h2 {
      text-shadow: 
    3px 3px 0 #800000, 
    -3px -3px 0 #800000, 
    3px -3px 0 #800000, 
    -3px 3px 0 #800000, 
    3px 0px 0 #800000, 
    0px 3px 0 #800000,
    -3px 0px 0 #800000,
    0px -3px 0 #800000,
    0 0 10px #800000, 
    0 0 20px #800000, 
    0 0 30px #800000, 
    0 0 40px #800000;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}