@charset "utf-8";

html, body {
    margin: 0;
    padding: 0;
    background-image: url('./red_clouds.png');
    background-size: cover;
    background-position: center;
}

#heading {
    font-family: "Palatino Linotype", serif;
    font-size: 24px;
    color: aliceblue;
    margin-top: 20px; /* Adjust the value as needed */
    text-align: center;
    background-color: transparent;
}